body {
    background-image: url("HomeDrupal/images/CanonsYellow.png");
        background-repeat: repeat-x;
}

.logo {
  width: 250px;
  float: right;
}

.region {
}
.clearfixboth {
    clear: both;
}
div.region-intro {
    width: 960px;
    border: solid yellow thick;
        background-image:url("/HomeDrupal/images/ServicesRed.png");
    background-repeat: repeat;
    /*background-color: red;*/
}
.region-logo {
   /* float:left; */
    width:250px;
        margin: 10px 30px 10px 10px;
    border: thick blue solid;
}
 div.region-banner {
    float: right;
    width: 650px;
      background-image: url("/HomeDrupal/images/CanonsYellow.png");
    /*background-repeat: repeat;*/
    border: thick blue solid;
}
.region-messages {
    clear:both;
}
.region-sidebar-cats {
    width: 200px;
    float: left;
    background-color: bisque
}
.region-sidebar-cats {
    background: url("/HomeDrupal/images/CanonsYellow.png") 0 0 no-repeat;
    background-color: red;
    margin: 5px;
    padding: 5px;
    width: 260px;
}
.cats {
    background-color: burlywood;
    margin-left: 0px;
}
.subcats {
    background-color: orange;
    margin-left: 6px;
}
.subsubcats {
    background-color: orchid;
    margin-left: 12px;
}

.region-content {
    width: 680px;
    margin-left: 270px;
    background-color: beige;
}
.region-services {
    width: 200px;
    float: left;
    background-image: url('/HomeDrupal/images/ServicesRed.png');
    background-repeat: repeat;
    /*background-color: red;*/
    border: green 5px;
}
#services {
       width: 200px;
    float: left;
    background-image: url('HomeDrupal/images/ServicesRed.png');
    background-repeat: repeat;
    /*background-color: red;*/
    border: green 5px;
}

/* region-progs {
    width: 100px;
    float: left;
}
region-facs {
    margin-left: 100px;
    margin-right: 50px;
}
region-orgs {
    width: 50px;
    float: right;
}*/

.region-arts {
    background-image: url('HomeDrupal/images/ArticlesBlue.png');
    background-repeat: repeat;
    /*background-color: blue;*/
    margin-left: 220px;
    margin-right: 220px;
}
.regioncanons {
    width: 200px;
    float: right;
    background-image: url("HomeDrupal/images/CanonsYellow.png");
    background-repeat: repeat;
    background-color: yellow;
}

h1 {
  background: blue;
  font-size: 14px;
  clear: right;
}
h3 {
    font-size: 9px;
}
.logo {
    background-image: url(HomeDrupal/images/CanonsYellow.png);
    background-color: blanchedalmond;
    background-position: left top;
}